<form method="post" action="/products/search">
<div class="row">
    <div class="col-sm-3">
        <input type="text" name="Model" class="form-control"
         placeholder="Search By Model">
    </div>
    <div class="col-sm-1">
        <input type="text" name="Min" class="form-control"
         placeholder="Minimum Price">
    </div>
     <div class="col-sm-1">
        <input type="text" name="Max" class="form-control"
         placeholder="Max Price">
    </div>
    <div class="col-sm-1">
    <button type="submit" class="btn btn-primary">Search</button>
    </div>

</div>
</form>